In [ ]:
NumPy (Numerical Python) is a low-level library used for numerical computing in Python.

In [2]:
import numpy as np

# Creating NumPy array of student marks
marks = np.array([78, 85, 90, 88])

# Calculate average marks
marks.mean()

np.float64(85.25)

In [11]:
# Salary data in NumPy array
salaries = np.array([40000, 50000, 60000])

# Increase salary by 1.50
updated_salaries = salaries * 1.50

updated_salaries

array([60000., 75000., 90000.])

In [29]:
import numpy as np

# Temperature readings (in Â°C) for 7 days
temperatures = np.array([30.5, 31.2, 29.8, 32.0, 33.1, 31.7, 30.9])

# Find average temperature
avg_temp = temperatures.mean()

# Find highest and lowest temperature
max_temp = temperatures.max()
min_temp = temperatures.min()

print (avg_temp,
       max_temp, 
       min_temp)

31.314285714285713 33.1 29.8

In [ ]:
Pandas is a Python library used for data manipulation and data analysis.

In [35]:
import pandas as pd

# Create simple data using a dictionary
data = {
    "Name": ["krishna", "darsh", "Krutik" , "sunita"],
    "CGPA": [7.25 ,7.89, 8.10, 8.69],
    "Age": [21, 22, 20, 23]
}

# Convert dictionary into a DataFrame
df = pd.DataFrame(data)

# Show the full table
df

      Name  CGPA  Age
0  krishna  7.25   21
1    darsh  7.89   22
2   Krutik  8.10   20
3   sunita  8.69   23

In [42]:
# Filter rows where CGPA is greater than 8
df[df["CGPA"] > 8]

     Name  CGPA  Age
2  Krutik  8.10   20
3  sunita  8.69   23

In [2]:
import pandas as pd

# Create data using lists
cities = ["Delhi", "Mumbai", "Pune"]
temperature = [35, 32, 30]

# Create DataFrame
df_cities = pd.DataFrame({
    "City": cities,
    "Temperature": temperature
})

df_cities

     City  Temperature
0   Delhi           35
1  Mumbai           32
2    Pune           30

In [4]:
# Select first two rows using index
df_cities.iloc[0:2]

     City  Temperature
0   Delhi           35
1  Mumbai           32

In [9]:
# Update temperature of Pune
df_cities.loc[df_cities["City"] == "Pune", "Temperature"] = 31

df_cities

     City  Temperature
0   Delhi           35
1  Mumbai           32
2    Pune           31